@import 'generic';

/* Styling for the login/signup pages */
.form-page-wrapper {
    width: 100vw;
    height: 100%;
}

// Styling for the login and signup page
.form-wrapper {
    margin: 100px auto 0 auto;
    border: solid;
    border-radius: 10px;
    padding-top: 50px;

    width: 25vw;
    min-width: 400px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.login-wrapper {
    height: 400px;
}

.signup-wrapper {
    margin-top: 20px;
    height: 600px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: column;

    p {
        color: $font-tertiary;
    }
}


form button:hover {
    background-color: $secondary-background-hover;
}

.login-wrapper button {
    margin-top: 60px;
}



.errors {
    font-size: 14px;
    color: rgba(255, 0, 0, 0.664);
    height: 30px;
}

.form-publish-radios {
    width: 230px;
}

.signup-radios {
    margin: 10px 0 0 20px;
    width: 60px;
    display: flex;
    justify-content: space-between;
}

/* For NEW POST or EDIT POST */
.post-form-wrapper {
    margin: 0 auto;

    .form-wrapper {
        // For screens over 500px in width, set the minimum width to 500px
        min-width: 500px;
    }
    form {
        margin-left: 10px;
    }
}

.form-radios {
    display: flex;
    justify-content: space-between;
    
    a {
        margin: 10px 0 10px 0;
        font-size: .9rem;
        height: 30px;
    }
    
    .form-publish-radios {
        border-right: solid;
        margin-right: 10px;
    }
}

// Styling for categories
.subcat-radio {
    margin: 5px 0 0 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}


.cat-manager-wrapper {
    width: 60%;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    .cat-title {
        font-size: 1.6rem;
    }


    li {
        margin-left: 20px;
        list-style: circle;
    }

    .button-style {
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
        margin: 0 0 0 10px;
    }

    .new-cat-wrapper {
        margin-top: 30px;
    }

} 


@media (max-width: 500px) {


    .post-form-wrapper {    
        .form-wrapper {
            // For screens less than 500px in width, reset the min width
            // width: 230px;
            width: 95%;
            min-width: 230px;
        }

        .form-element {
            width: 230px;
        }

        .form-radios {
            display: flex;
            flex-direction: column;
        }

        .form-publish-radios {
            border: none;
            border-bottom: solid;
            margin: 0 0 10px 0;
        }

        .form-element {
            margin-top: 10px;
        }
    }
}