* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

/* Style for the nav */
nav {
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 40px 20px 40px;
}

.nav-links {
    display: flex;
    width: 15%;
    min-width: 120px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    border-bottom: solid;
}

.nav-title a {
    font-size: 50px;
}

/* Styling for the HomePage */
.home-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    /* align-items: center; */
}

.home-cat-wrapper {
    width: 250px;
    height: 500px;
}

.home-cat-wrapper button {
    background-color: white;
    border: none;
    width: 200px;
    text-align: left
}

.home-cat-wrapper button:hover {
    background-color: rgb(153, 112, 112);
    border: none;
}

.cat-title {
    font-size: 20px;
    font-weight: 600;
}

.home-post-wrapper {
    /* Available if we need it */
}

.post-wrapper {
    width: 80%;
    height: 200px;
    border: solid;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.post-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-self: center;
    align-items: center;
    border-bottom: solid 10px;
    margin: 10px 0;
}

.content-wrapper {
    width: 80%;
    margin: 20px auto 0 auto;
}

/* Styling for the blog page */

.post-page-wrapper {
    width: 80%;
    margin: 0 auto;
}

.post-section {

}


/* Styling for the login/signup pages */
.form-page-wrapper {
    margin: 100px auto 0 auto;
    border: solid;
    border-radius: 10px;
    width: 25vw;
    min-width: 400px;
    height: 550px;
    min-height: 300px;
}

/* Login page */
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.signup-wrapper {
    margin-top: 20px;
}

form {
    margin-top: 20px;
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    align-self: center;
    border: none;
    justify-self: flex-end;
}

form button:hover {
    background-color: cadetblue;
}

.login-wrapper button {
    margin-top: 60px;
}



.errors {
    font-size: 14px;
    color: red;
    height: 30px;
}

.form-radios {
    width: 250px;
}
.signup-radios {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}